<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>JUEGO DE DADOS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
   <div class="container my-4">
	    <h1>JUEGO DE DADOS</h1>
        <hr>
        <h2>PANTALLA JUGADOR</h2>

        <table border="1" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha Jugada</th>
                    <th>Dado 1</th>
                    <th>Dado 2</th>
                    <th>Win</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Jugada : ${jugadas}">
                    <td th:text="${Jugada.fechajug}"></td>
                    <td th:text="${Jugada.uno}"></td>
                    <td th:text="${Jugada.dos}"></td>
                   <!-- <td th:text="${Jugada.win}"></td>-->
                     <!--<td> <a th:href="@{/Sucursal/getOne/{id}(id=${sucursalDTO.id})}" class="btn btn-primary">Mostrar/Actualizar</a>-->
                        <!--<a th:href="@{/Sucursal/deleteSucursal/{id}(id=${sucursalDTO.id})}" class="btn btn-danger">Elmininar</a>-->
                    </td>
                </tr>
            </tbody>
        </table>
                <!--  <a th:href="@{/Sucursal/nuevasucursal}" class="btn btn-primary btn-lg mb-3"> Nueva  Sucursal </a>--> 
<a th:href="@{//games}"class="btn btn-info">JUGAR</a>
    </div>
</body>



</html>