<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Sucursal Management System</title>

    <link rel="stylesheet" href="C:\Users\pedro\Spring workspace\demoThymeleaf\src\main\resources\templates">
</head>

<body>

    <div class="container my-2">
        <h1>Operación Realizada con éxito</h1>

               <a th:href="@{/Sucursal/getAll}" class="btn btn-primary btn-sm mb-3"> Listado Sucursales</a> 

    </div>
</body>

</html>