<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>JUEGO DE DADOS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container my-4">
		<h1>JUEGO DE DADOS</h1>
		<hr>
		<h2>PANTALLA NUEVA JUGADA</h2>

        <form action="#" th:action="@{/{jugador_id}/games}" th:object="${jugadordto}" method="POST">
			
         

           <button class="btn btn-lg btn-primary btn-danger" type="submit" > JUGAR</button>
        </form>

        <hr>

        <a th:href="@{/Sucursal/getAll}" class="btn btn-primary btn-sm mb-3"> Vuelta al Listado</a>
    </div>
</body>

</html>